.scroll {
  font-size: .9rem;
  font-weight: 500;
}
.mouse {
  display: block;
  border: 2px solid #454360;
  margin: auto;
  width: 1.25rem;
  height: 2rem;
  border-radius: 1rem;
  margin-top: 0.75rem;
  position: relative;
}

@keyframes ani-mouse {
  0% {
    top: 29%;
  }
  15% {
    top: 50%;
  }
  50% {
    top: 50%;
  }
  100% {
    top: 29%;
  }
}

.wheel {
  background-color: #454360;
  border-radius: 100%;
  width: 0.2rem;
  height: 0.25rem;
  position: absolute;
  top: 0.5rem;
  left: 50%;
  transform: translateX(-50%);
  animation: ani-mouse 1.5s linear infinite;
}
